{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>debug</title>

{#    <link rel="stylesheet" href="{% static ".css" %}">#}
    <style>
        a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;

            text-decoration: none;
            color: initial;

            padding: 5px;
            margin-right: 20px;
        }
    </style>

</head>
<body>
    <div style="margin-bottom: 30px;">
        <a id="notmanaged" href="{% url 'products:list' %}" class="button">получение каталога через вьюху(бд)</a>
        <a id="orm" href="{% url 'products:list_alt' %}" class="button">получение каталога через orm</a>
        <span>страница </span>
        <input type="number" value="" placeholder="номер">
        <span>из {{ num_pages }}</span>
    </div>
	{% block content %}{% endblock %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script>
        var getParam = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        $(window).ready(function () {
            var curPage = getParam('page');
            var $input = $('input').val(curPage);
        });
        $('a').click(function(e) {
            e.preventDefault();
            var $input = $(this).parent().find('input');
            var actualValue = $input.val();
            if (!actualValue) {
                actualValue = '1';
            }
            location.href = this.href + '?page=' + actualValue
        })
    </script>
</body>


</html>