{% extends 'base.html' %}

{% block content %}
    <table cellspacing="2" border="1" cellpadding="5" width="900">
        <thead>
            <tr>
                <th>название</th>
                <th>обычная цена</th>
                <th>скидка на товар</th>
                <th>скидка на категорию</th>
                <th>скидка на брэнд</th>
                <th>итоговая цена</th>
            </tr>
        </thead>
        <tbody>
            {% for item in result %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.product_discount }}</td>
                    <td>{{ item.category_discount }}</td>
                    <td>{{ item.brand_discount }}</td>
                    <td>{{ item.total_cost }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}